<div class="home">
    <app-map></app-map>
    <div class="home__message">
        <h1>Bienvenido a Music App</h1>
        <p>
            Aquí encontraras la mejor música y con la mejor calidad del mercado.
        </p>
    </div>
    <div class="home__message">
        <h1>Visita nuestro reproductor de música</h1>
        <p>
            Visita nuestra Play List principal y disfruta de la mejor calidad de sonido
        </p>
        <button class="home__message--button" routerLink="/player">
            Ir a reproductor
        </button>
    </div>
    <div class="home__message">
        <h1>Registrate para obetener más beneficios</h1>
        <p>
            Obten los mejores beneficios con tu registro y obten dos mese gratis.
        </p>
        <button class="home__message--button" routerLink="/register">
            Registrarse
        </button>
    </div>
</div>
